APP_ENV=local
TELEGRAM_BOT_TOKEN=
DATABASE_URL=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=bot
POSTGRES_PASSWORD=bot
POSTGRES_DB=dota_bet_bot
REDIS_ADDR=redis:6379
INITIAL_BALANCE=1000
BET_LOCK_MINUTES=5
ADMIN_TELEGRAM_IDS=
